.roomBtn {
    border: none;
    background: none;
    width: 100%;
    padding: 0;
}

.room {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.room:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.room .card-body {
    transition: background-color 0.3s ease;
}

.room:hover .card-body {
    background-color: #6ff15e46; /* Light green */
}
